body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat';
  font-weight: 900;
}

.container-fluid {
  padding: 7% 15%;
}

/* Heading */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* title */
#title {
  background-color: #ff4c68;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 7% 15%;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  position: absolute;
  top: 30%;
  transform: rotate(25deg);
}

/* Features */
#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.icon-img {
  margin: 0 auto;
  font-size: 4rem;
  color: #ef8172;
  transition: color 1s;
}

.icon-img:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: .8rem;
}

.feature-text {
  color: #8f8f8f;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press */
#press {
  background-color: #ef8172;
  
  padding-bottom: 3rem;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;
  
}

.price-column {
  padding: 3%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* cta */
#cta {
  background-color: #ff4c68;
}

/* footer */
#footer { 
  background-color: #fff;
}

.footer-icon {
  font-size: 1.5rem;
  margin: 2rem 1rem;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}